/* Esto asegura que el canvas sea el dueño absoluto de la pantalla */
canvas {
    display: block;
    outline: none;
    cursor: none; /* Oculta el cursor nativo */
}

html, body {
    overflow: hidden; /* Evita que la página intente scrollear mientras mueves el mouse */
    margin: 0;
    padding: 0;
    touch-action: none; /* Desactiva gestos raros en laptops con touch */
}